@use './tokens';
@use './typography' as *;
@use './guides-site-shell';
@use './guides-on-this-page-nav';

.guides-app .guides-shell {
  --vp-custom-block-font-size: var(--text-body-size);
  --vp-custom-block-code-font-size: var(--text-code-size);
  font-family: var(--font-family-base);

  .vp-doc {
    font-family: var(--font-family-prose);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-family-base);
      color: var(--color-neutral-100);
    }

    h1 {
      @include typography-h1-page;
    }

    h2 {
      @include typography-h2;
      border-top: none;
    }

    h3 {
      @include typography-h3;
    }

    h4 {
      @include typography-h4;
    }

    h5 {
      @include typography-h5;
    }

    h6 {
      @include typography-h6;
    }

    p,
    li {
      @include typography-body;
      color: var(--color-neutral-200);
    }

    strong {
      @include typography-strong;
      color: var(--color-neutral-100);
    }

    small {
      @include typography-small;
    }

    th,
    td {
      @include typography-table-cell;
    }

    // links
    a {
      color: var(--color-neutral-100);

      &:hover {
        color: var(--color-secondary-500);
      }
    }

    // text classes
    .text-fine-print {
      @include typography-small;
      color: var(--color-neutral-300);
    }

    .text-site-title {
      @include typography-site-title;
    }

    .text-body {
      @include typography-body;
    }

    .text-body-wide {
      @include typography-body-wide;
    }
  }
}
